[user]
	name = Brendan Carlson
	email = brendancarlson1125@gmail.com
[core]
	editor = nvim
    excludesfile = ~/.gitignore_global
[init]
    defaultBranch = main
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
